{% extends 'base.html'%}

{% block content %}
{{ super() }}
<div class="login-form">
    
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}">{{msg}}</div>
    {% endfor %}
    
    <form action="/login" method="post">
        {{ form.hidden_tag() }}

        {% for field in form if field.name not in ['csrf_token', 'remember', 'submit'] %}
            <div>
                <b>{{ field.label() }} </b>
                {% if field.errors %}
                    {{ field(class="invalid") }}
                    <span class="error-message">
                        {% for e in field.errors %}
                        {{ e }}
                        {% endfor %}
                    </span>
                {% else %}
                    {{ field() }}
                {% endif %}
            </div>
        {% endfor %}

        <div>
            <label><b>{{ form.remember.label()}}</b></label>
            {{ form.remember() }}
            <p>*If you've forgotten your username or password, please contact the helpdesk</p>
        </div>

        <div>
            {{ form.submit(class="submit-button") }}
        </div>
    </form>
    
</div>

{% endblock %}