{% extends 'base.html'%}

{% block content %}
{{ super() }}
{% for msg in get_flashed_messages(True) %}
<div>{{msg}}</div>
{% endfor %}


<form action="/register" method="post">
    <p><label>Username:</label><input type="text" name="username" value="" required />
    <p><label>Userlogin:</label><input type="text" name="userlogin" value="" required />
    <p><label>Password:</label><input type="password" name="psw1" value="" required />
    <p><label>Confirm password:</label><input type="password" name="psw2" value="" required />
    <p><input type="submit" value="Sign up" />
</form>
{% endblock %}